@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --liberal: #5b9ba8;
  --fascist: #df654c;
  --disabledBg: #928079;
  --disabledBoxShadow: 0 5px 0 #766058;
  --buttonBoxShadow: 0 5px 0 #b4431a;
  --inputBoxShadow: 0 2px 10px rgba(255, 255, 255, 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
}

.liberal {
  color: var(--liberal);
}

.fascist {
  color: var(--fascist);
}

.shadow-theme {
  box-shadow: var(--buttonBoxShadow);
}

main .view-transition > *:not(.fixed) {
  padding: 1.25rem;
}

.animate-flicker {
  animation: animateflicker 1.2s linear infinite;
}

button:disabled {
  background: var(--disabledBg);
  box-shadow: var(--disabledBoxShadow);
  cursor: not-allowed;
}

.sub-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-group:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@keyframes animateflicker {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
